@lightBlue: #E1FBFF;
@lightRed: #FEEDED;
@red: #F05555;
@green: #32F1A8;
@darkGreen: #0ec981;
@lightGreen: #D9FFF0;
@lightGray: #E1E1E1;
@lightestGray: #F8F8F8;
@gray: #838383;
@white: #FFF;

@radius: 5px;

@solidBorder: 1px solid @lightGray;

@roboto: 'Roboto', sans-serif;
@mont: 'Montserrat', sans-serif;

.placeholder(@color) {
  input::-webkit-input-placeholder { color: @color; }
  input:-moz-placeholder { color: @color; }
  textarea::-webkit-input-placeholder { color: @color; }
  textarea:-moz-placeholder { color: @color; }
}
